*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	width: 100vw;
	min-height: 100vh;
	font-family: proxima-nova,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #f1f1f1;
	overflow-x: hidden;
}
.wrapper{
	width: 100vw;
	min-height: 100vh;
}
.landing{
	height: 100vh;
	background:radial-gradient(#101939, #0A1027);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}



nav{
	grid-column: 3/4;
	grid-row: 1/2;
	z-index: 100;
}
.icon{
	width: 50px;
	height: 50px;
	position: relative;
	top: 20%;
	left: 90%;
	/*background: rgba(222, 164, 32, 0.5);*/
	transform: translate(-50%, -50%);
	z-index: 100;
}
.hamburger{
	content: "";
	width: 50px;
	height: 5px;
	border-radius: 5px;
	position: relative;
	top: 50%;
	left: 50%;
	background-color: #f1f1f1;
	transform: translate(-50%, -50%);
	transition: all 250ms;
	z-index: 100;
}
.hamburger:after,
.hamburger:before{
	content: "";
	width: 50px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #f1f1f1;
	transform: translateX(-50%);
	transform-origin: center;
	transition: all 250ms;
}
.hamburger:after{
	top: -20px;
}
.hamburger:before{
	top: 20px;
}
.hamburger.active{
	background: rgba(241, 241, 241, 0);
	width: 0px;
}
.hamburger.active:after{
	opacity: 1;
	transform: rotate(-45deg);
	top: 0;
	left: -25px;
}
.hamburger.active:before{
	opacity: 1;
	animation: 4s postham;
	transform: rotate(45deg);
	top: 0;
	left: -25px;
}
.icon:hover .hamburger:after,.icon:hover .hamburger:before,.icon:hover .hamburger{
	background:#C56464;
}
.menu{
	background-color: rgba(72, 36, 213, 0.40);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	transition: all 500ms;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}
.menu-item{
	/*border: 1px solid red;*/
	display: inline-block;
	grid-row: 2/3;
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	transition: color 300ms ease-in-out;
}
.menu-item:hover{
	color: #0f9;
}
.menu-item:after{
	content: "";
	position: absolute;
	float: left;
	width: 0px;
	height: 5px;
	border-radius: 5px;
	display: inline-block;
	top: 41%;
	left: 70%;
	/*background-color: #f1f1f1;*/
	background-color: #0f9;
	transform: translateX(-50%);
	transform-origin: center;
	transition: all 250ms;
}

.menu-item:nth-child(1):after{
    left: 11.5%;
}
.menu-item:nth-child(2):after{
    left: 34.8%;
}
.menu-item:nth-child(3):after{
	left: 59.8%;
}
.menu-item:nth-child(4):after{
	left: 86.7%;
}

.menu-item:nth-child(1):hover:after{
	width: 135px;
}
.menu-item:nth-child(2):hover:after{
	width: 150px;
}
.menu-item:nth-child(3):hover:after{
	width: 190px;
}
.menu-item:nth-child(4):hover:after{
	width: 195px;
}


.hidden{
	/*display: none;*/
	height: 0%;
	opacity: 0;
	transition: all 250ms;
}
.blur{
	filter: blur(10px);
}




div#hero{
	position: relative;
	text-align: center;
	grid-column: 2/3;
	grid-row: 2/3;
}
div#hero>div{
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}
div#hero>div>p.odd{
	/*color: #953838;*/
	color: #C56464;
}
div#hero>div>p{
	font-size: 2rem;
	color: #DEA420;
	display: inline-block;
}